<?xml version="1.0" encoding="UTF-8"?>
<!-- DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
	해당 부분 때문에 에러가 날 수도 있음 - > 기본으로 내장되어있는 log4j를 sts가 인식할 수 없어서
	원격으로 가지고 오겠다고 해서 원격 경로를 작성한 구문으로 수정
 -->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders :
		출력되는 로그의 형태를 지정하는 부분으로, 로그를 뒤에 계속 남기는 역할을 한다.
	-->
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%p] %m%n" />
		</layout>
	</appender>

	<!-- sql 로그 출력용 패턴 지정 -->
	<appender name="sql-console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<!-- 이 패키지 이하에서 출력되는 로그들을 출력하겠다.
		trace < debug < info < warn < error < fatal                                                                                                                                              
	 -->
	<logger name="edu.kh.fin">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<!-- SQL 로그 출력 -->
	<logger name="java.sql.Connection">
		<level value="debug" />
		<appender-ref ref="sql-console" />
	</logger>

	<logger name="java.sql.Statement">
		<level value="debug" />
		<appender-ref ref="sql-console" />
	</logger>

	<logger name="java.sql.PreparedStatement">
		<level value="debug" />
		<appender-ref ref="sql-console" />
	</logger>

	<logger name="java.sql.ResultSet">
		<level value="debug" />
		<appender-ref ref="sql-console" />
	</logger>

	<logger name="jdbc.sqlonly" additivity="false">
		<level value="INFO" />
		<appender-ref ref="sql-console" />
	</logger>

	<logger name="jdbc.resultsettable" additivity="false">
		<level value="INFO" />
		<appender-ref ref="sql-console" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
