<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
	<settings>
	<!-- insert 또는 update에 사용되는 값 중 null이 있을 경우에 대한 설정
	해당 설정이 없을 경우 -> SQL 구문에 null 포함되어 있다는 오류 발생.
	해상 설정이 있을 경우 -> 오류를 발생 시키지 않고 NULL 값을 컬럼에 대입
	단, NOT NULL 제약조건이 없는 컬럼에만 가능함.
	** value 설정 시 NULL 은 반드시 대문자로 작성 (소문자 null은 오류가 발생함) -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
<!-- 별칭 작성 부분 -->
<!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
		
	<typeAliases>
		<typeAlias type="edu.kh.fin.band.dbTest.DBTestVO" alias="dbTest"/>
		<typeAlias type="edu.kh.fin.band.chatting.model.vo.TempUserVo" alias="tempUser"/>
		<typeAlias type="edu.kh.fin.band.chatting.model.vo.ChatVo" alias="chat"/>
		<typeAlias type="edu.kh.fin.band.chatting.model.vo.ChatMessageVo" alias="chatMessage"/>
		<typeAlias type="edu.kh.fin.band.searching.model.vo.Searching" alias="searching"/>
		<typeAlias type="edu.kh.fin.band.login.model.vo.User" alias="user"/>
		<typeAlias type="edu.kh.fin.band.room.model.vo.Room" alias="pracRoom"/>
		<typeAlias type="edu.kh.fin.band.message.model.vo.MessageBox" alias="msgBox"/>
		<typeAlias type="edu.kh.fin.band.used.model.vo.UsedVo" alias="used"/>
		<typeAlias type="edu.kh.fin.band.used.model.vo.UsedImage" alias="usedImage"/>
		<typeAlias type="edu.kh.fin.band.lesson.model.vo.Lesson" alias="lesson"/>
		<typeAlias type="edu.kh.fin.band.login.model.vo.Business" alias="Business"/>
		<typeAlias type="edu.kh.fin.band.board.model.vo.Board" alias="board"/>
		<typeAlias type="edu.kh.fin.band.board.model.vo.BoardDetail" alias="detail"/>
		<typeAlias type="edu.kh.fin.band.board.model.vo.BoardImage" alias="boardImage"/>
		<typeAlias type="edu.kh.fin.band.msgAlarm.model.vo.MsgAlarm" alias="msgAlarm"/>
		<typeAlias type="edu.kh.fin.band.alarm.model.vo.Alarm" alias="alarm"/>
		<typeAlias type="edu.kh.fin.band.socialLogin.model.vo.SocialInfo" alias="social"/>
	</typeAliases>
	
<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
	<mappers>
		<mapper resource="/mapper/mapper.xml"/>
		<mapper resource="/mapper/chat-mapper.xml"/>
		<mapper resource="/mapper/searching-mapper.xml"/>
		<mapper resource="/mapper/login-mapper.xml"/>
		<mapper resource="/mapper/pracRoom-mapper.xml"/>
		<mapper resource="/mapper/msgBox-mapper.xml"/>
		<mapper resource="/mapper/usedBoard-mapper.xml"/>
		<mapper resource="/mapper/lesson-mapper.xml"/>
		<mapper resource="/mapper/business-mapper.xml"/>
		<mapper resource="/mapper/board-mapper.xml"/>
		<mapper resource="/mapper/msgAlarm-mapper.xml"/>
		<mapper resource="/mapper/alarm-mapper.xml"/>
		<mapper resource="/mapper/socialLogin-mapper.xml"/>
	</mappers>
</configuration>