

.sign-up-text {
    display: flex;
    justify-content: center;
    font-size : 3rem;
}

/**********바디 부분 시작***********/

.content{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom : 30px;
}

.content-2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom : 100px;
}


#sign-up-area{
    width: 600px; 
    display: flex;
    justify-content: center;
    padding-top: 50px;
    border-radius: 20px;
    
}

.input-text{
    width: 280px;
    height: 35px;
    background-color: rgb(240, 244, 240);
    border:solid 1px rgb(240, 244, 240);
    outline: 0;
    border-radius: 5px;
    margin-top : 0.8rem;
    
}

.input-text-1{
    width: 400px;
    height: 35px;
    background-color: rgb(240, 244, 240);
    border:solid 1px rgb(240, 244, 240);
    outline: 0;
    border-radius: 5px;
    margin-top : 0.8rem;
}


#email-check-btn{
    background-color: #ffffff;
    color:black;
    border-radius: 5px;
    border: 1px solid #111111;
    width: 110px;
    height: 35px;
    cursor: pointer;
}



/*회원가입 버튼부분 article*/
.sign-up-article-1{

    display: flex;
    justify-content: center;
    padding-top: 10px;
     
}

/*회원가입 버튼*/
#signup-btn{
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #111111;
    color: black;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    margin-bottom : 3rem;
    
}

.sign-up-article-2 a {
    text-decoration: none;
}

.normal{
    margin-top: 15px;
}

#btn_toggle{
  font-size:14px;
  padding:10px 15px;
  border:1px solid #ddd;
  background-color:#0a76b7;
  border-radius:5px;
  color:#fff;
  font-weight:bold;
  margin-bottom : 2rem;
}

.checkbox_group{
    padding-left: 100px;
    margin-top: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}






