

.title {
    width: 70%;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;  
  
}

.section > hr {
	width: 70%;
}


.mainContent {
    width: 30rem;
    text-align: center;
    margin: auto;
    
}   

.mainContent > div>h5 {
    padding: 30px;
}



/*성별*/
.gender {
    padding: 30px 20px;
    width: 30em;
    margin: auto;
}


.gender input[type=radio]{
    display: none;
}
.gender input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:15px;
    border-radius: 5px;
    margin: 20px;
    justify-content: center;

}

.gender input[type=radio]+label{
   color: #fff;

    
    
}
.gender input[type=radio]:checked+label{
	border: 1px solid #08bc9a;
    color: #fff;
}


/*장르*/
.genre {
    padding: 15px 10px;
    width: 32em;
    margin: auto;
}


.genre input[type=checkbox]{
    display: none;
}
.genre input[type=checkbox]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.genre input[type=checkbox]+label{
  	color: #fff;

}
.genre input[type=checkbox]:checked+label{
	border: 1px solid #08bc9a;
    color: #fff;
}

/*포지션*/
.position {
    padding: 15px 10px;
    width: 30em;
    margin: auto;
}

.position input[type=radio]{
    display: none;
}
.position input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.position input[type=radio]+label{
    color: #fff;

}

.position input[type=radio]:checked+label{
	border: 1px solid #00C9C8;;
    color: #fff;
}

/*지역*/
.location {
    padding: 15px 10px;
    width: 30em;
    margin: auto;
}

.location input[type=radio]{
    display: none;
}
.location input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.location input[type=radio]+label{
    color: #fff;

}

.location input[type=radio]:checked+label{
	border: 1px solid #00C9C8;;
    color: #fff;
}

#find {
    background-color: #00C9C8;;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
}

.darkmode #find{
	background-color: black;
    color: #fff;
    border: 1px solid #fff;
	
}

.darkmode input[type=radio]+label{
	background-color: var(--grey-color);
    color: #fff;
    border: 1px solid var(--grey-color);
	
}

.darkmode input[type=radio]:checked+label {
	background-color: #fff;
	color: var(--grey-color);
	
}

.darkmode input[type=checkbox]+label{
	background-color: var(--grey-color);
    color: #fff;
    border: 1px solid var(--grey-color);
	
}

.darkmode input[type=checkbox]:checked+label {
	background-color: #fff;
	color: var(--grey-color);
	
}


.darkmode .title {
	border: 1px solid #fff;
}

@media (max-width: 46.875rem) {
    .title {
        width: 500px;
        text-align: center;
        justify-content: center;
        margin: auto;
        border: 1px solid black;
        border-radius: 10px;  
    }

    .mainContent {
        width: 20rem;
        text-align: center;
        margin: auto;
        
    }

    .gender {
        padding: 30px 20px;
        width: 18em;
        margin: auto;
    }

    .genre {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

    .position {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

    .location {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

}

#tt {
	font-size:30px;
	font-weight: bold;
}

.cate {
	font-size: 25px;
	text-align: center;
}

.gender input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.gender input[type=radio]+label:hover{background-color:#00C9C8;}
.gender input[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.gender input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.genre input[type=checkbox]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.genre input[type=checkbox]+label:hover{background-color:#00C9C8;}
.genre input[type=checkbox]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.genre input[type=checkbox]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.position input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.position input[type=radio]+label:hover{background-color:#00C9C8;}
.position input[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.position input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.location input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8;-webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.location input[type=radio]+label:hover{background-color:#00C9C8;}
.locationinput[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.location input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8;}