.modal-backdrop {
    opacity: 0.5;
  }
  
  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown .modal-dialog {
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: slideInDown;
  }
  
  
  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .slideOutUp .modal-dialog {
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: slideOutUp;
  }

  .modal-dialog{
    max-width: 750px;
  }

  .infoModal-dialog{
    max-width: 1000px;
  }
  
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrap {
  margin: auto;
}

.wrap .logo {
  text-align: center;
  margin-bottom: 10px;
}

.wrap .logo h1 {
  margin: 0;
  font-size: 50px;
}

.wrap .contents {
  padding: 50px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#form__wrap {
  margin: 0 auto;
  width: 500px;
  font-size: 14px;
}

#form__wrap .terms__check__all {
  display: flex;
  margin-bottom: 35px;
}

#form__wrap .terms__check__all label {
  margin-left: 3px;
  text-decoration: underline;
}

.terms__list .terms__box {
  margin: 20px 0;
}

.contents label {
  font-weight: 700;
}

label.required::after {
  margin-left: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: red;
  content: "(확인)";
}

.terms__list .terms__content {
  height: 88px;
  overflow: auto;
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #dadada;
  background: #fff;
  font-size: 12px;
}

.next-button {
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color: #242222;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.next-button:hover:enabled {
  background-color: #a3a2a2;
}

.next-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .wrap {
    min-width: 280px;
    padding: 20px;
  }

  #form__wrap {
    max-width: 460px;
    width: auto;
  }
}
  
 .terms__content::-webkit-scrollbar {
    width: 10px;
}
.terms__content::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 70px;
}
.terms__content::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 70px;
}

p{
	margin-bottom: 0;
}

.footer2-modal-toggle{
    stroke: var(--stroke-dark-color);
    transition: 0.5s;
}
  