:root{
    --text-color:#000; 
    --background-color:#fff; 
    --grey-color:#868E96;
    --accent-color: #f3b013;
    --stroke-color: #474554;
    
    --grr-color : #e7efee;
    
    --background-dark-color:#000;
    --text-dark-color:#fff;
    --accent-dark-color: #c3c3a4;
    --stroke-dark-color:#FB4F93;
    
    --magenta-heart-color: magenta;
    
    --silver-color : silver;



    --background-nav-color:#fff;
    --text-nav-color:#000;
    

    
    --maxFont-size:1.5em;    /*24*/
    --mediumFont-size:1em;   /*16px*/
    --smallFont-size:0.75em; /*12px*/
    --tinyFont-size:0.625em; /*10px*/
    --microFont-size: 0.5em; /*8px*/


    --navFont-style-:'IBM Plex Sans', sans-serif;
}


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100vw;
    
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: var(--grey-color); /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--grr-color);  /*스크롤바 뒷 배경 색상*/
}

