
/* ===============================�떎�겕紐⑤뱶 �쟻�슜 css=============================== */

.darkmode{
    color: var(--text-dark-color);
    background-color : var(--background-dark-color);
    stroke: var(--stroke-dark-color);
 }
 
 /* ===============================�떎�겕紐⑤뱶 �쟻�슜 css=============================== */
 

 /* ===============================�깭洹� css=============================== */
body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.navUl{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    color:var(--text-color);
}

.navBar i{
    color:var(--text-color);
    font-size: var(--maxFont-size);
}

.navSecondDiv button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline: none;
}

/* ===============================�깭洹� css=============================== */




.navBar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-nav-color);
    padding:var(--tinyFont-size) var(--smallFont-size);  
    font-family: var(--navFont-style-);
}


.navBar a, .navBar i{
    color: var(--text-nav-color);
}


.navUl{
    display: flex;
}

.navUl > li{
    padding: var(--microFont-size) var(--smallFont-size);
}

.navUl > li > a{
    position: relative;
}

.navUl li a::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    right: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li a::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    left: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li a:hover::after{
    width: 60%;
    background-color: var(--accent-color);
}


.navUl li a:hover::before{
    width: 60%;
    background-color: var(--accent-color);
}

.navDiv{
    padding-left: 0.8em;
}

.navDiv > a{
    padding-left: 0.313em;
}

.navDiv > a, .navSecond > a, .navUl > li{
    font-size:var(--mediumFont-size);
}


.navSecondDiv > a, .navSecondDiv > i , .navSecondDiv > button > i{
    padding: var(--tinyFont-size);
}

.navSecondDiv{
    /* padding-right: 0.938em; */
    margin-bottom: 6px;
}

.signUpIMG, .loginIMG{
    display: none;
}

.logoutIMG{
    display: none;
}

.alertBell{
    display: none;
}

body.darkmode .alertBell > i{
    color: var(--text-dark-color);
}

#hamburger{
    display: none;
    font-size: 1rem;
    position: absolute;
    right: 32px;
}

@media screen and (max-width:46.875rem){
    .navBar, .navUl{
        flex-direction: column;
    }

    .navDiv{
        width: 100%;
        padding-left: 0.8em;
        padding-top: 0.5em;
    }

    .navUl{
        width: 100%;
        text-align: center;
        display: none;
    }

    .navSecondDiv{
        display: none;
        padding:0
    }

    #hamburger{
        padding-top: var(--tinyFont-size);
        display: block;
    }

    #sun{
        padding-left: 0.5em;
    }

    .navUl.active,
    .navSecondDiv.active,
    .signUpIMG.active,
    .loginIMG.active{
        display: flex;
    }


    .myPageText, .loginText{
        display: none;
    }
}

/* ===============================nav css=============================== */










