
/* ===============================�떎�겕紐⑤뱶 �쟻�슜 css=============================== */

.darkmode{
    color: var(--text-dark-color);
    background-color : var(--background-dark-color);
    stroke: var(--stroke-dark-color);
 }
 
 /* ===============================�떎�겕紐⑤뱶 �쟻�슜 css=============================== */
 

 /* ===============================�깭洹� css=============================== */
body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.navUl{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    color:var(--text-color);
}

.navBar i{
    color:var(--text-color);
    font-size: var(--maxFont-size);
}

.navSecondDiv button{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

/* ===============================�깭洹� css=============================== */




.navBar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-nav-color);
    padding:var(--tinyFont-size) var(--smallFont-size);  
    font-family: var(--navFont-style-);
}


.navBar a, .navBar i{
    color: var(--text-nav-color);
}


.navUl{
    display: flex;
}

.navUl > li{
    padding: var(--microFont-size) var(--smallFont-size);
}

.navUl > li > a{
    position: relative;
}

.navUl li a::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    right: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li a::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    left: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li a:hover::after{
    width: 60%;
    background-color: var(--accent-color);
}


.navUl li a:hover::before{
    width: 60%;
    background-color: var(--accent-color);
}

.navDiv > a{
    padding-left: 0.313em;
}

.navDiv > a, .navSecond > a, .navUl > li{
    font-size:var(--mediumFont-size);
}


.navSecondDiv > a, .navSecondDiv > i{
    padding: var(--tinyFont-size);
}

.navSecondDiv{
    padding-right: 0.938em;
    margin-bottom: 6px;
}

.signUpIMG, .loginIMG{
    display: none;
}

.logoutIMG{
    display: none;
}

#hamburger{
    display: none;
    font-size: 1rem;
    position: absolute;
    right: 32px;
}

@media screen and (max-width:46.875rem){
    .navBar, .navUl{
        flex-direction: column;
    }

    .navDiv{
        width: 100%;
        padding: var(--tinyFont-size) 0 0 var(--mediumFont-size); /*�긽 �슦 �븯 醫�*/
    }

    .navUl{
        width: 100%;
        text-align: center;
        display: none;
    }

    .navSecondDiv{
        display: none;
        padding:0
    }

    #hamburger{
        padding-top: var(--tinyFont-size);
        display: block;
    }

    #sun{
        padding-left: 0.5em;
    }

    .navUl.active,
    .navSecondDiv.active,
    .signUpIMG.active,
    .loginIMG.active{
        display: flex;
    }


    .signUpText, .loginText{
        display: none;
    }
}

/* ===============================nav css=============================== */







.title {
    width: 70%;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;  
  
}

.hr {
	width: 70%;
	text-align: center;
    justify-content: center;
    margin: auto;
}


.mainContent {
    width: 35rem;
    text-align: center;
    margin: auto;
    
}   


/*성별*/
.gender {
    padding: 30px 20px;
    width: 32em;
    margin: auto;
}


.gender input[type=radio]{
    display: none;
}
.gender input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:15px;
    border-radius: 5px;
    margin: 20px;
    justify-content: center;

}

.gender input[type=radio]+label{
   color: #fff;

    
    
}
.gender input[type=radio]:checked+label{
	border: 1px solid #08bc9a;
    color: #fff;
}


/*장르*/
.genre {
    padding: 15px 10px;
    width: 32em;
    margin: auto;
}


.genre input[type=checkbox]{
    display: none;
}
.genre input[type=checkbox]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.genre input[type=checkbox]+label{
  	color: #fff;

}
.genre input[type=checkbox]:checked+label{
	border: 1px solid #08bc9a;
    color: #fff;
}

/*포지션*/
.position {
    padding: 15px 10px;
    width: 32em;
    margin: auto;
}

.position input[type=radio]{
    display: none;
}
.position input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.position input[type=radio]+label{
    color: #fff;

}

.position input[type=radio]:checked+label{
	border: 1px solid #00C9C8;;
    color: #fff;
}

/*지역*/
.location {
    padding: 15px 10px;
    width: 32em;
    margin: auto;
}

.location input[type=radio]{
    display: none;
}
.location input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-weight:bold;
    font-size:14px;
    border-radius: 5px;
    margin: 15px;
}
.location input[type=radio]+label{
    color: #fff;

}

.location input[type=radio]:checked+label{
	border: 1px solid #00C9C8;;
    color: #fff;
}

#find {
    background-color: #00C9C8;;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-weight:bold;
}

#find > a {
	color: #fff;
	font-weight:bold;
	text-decoration: none;
}


.darkmode #find{
	background-color: var(--grey-color);
    color: #fff;
	text-decoration: none;
}

.darkmode .mainContent > div > input[type=radio]+label{
	background-color: var(--grey-color);
    color: #fff;
    border: 1px solid var(--grey-color);
    box-shadow: 0 3px 0 #55595d;
	
}

.darkmode .mainContent > div > input[type=radio]:checked+label {
	background-color: #fff;
	color: var(--grey-color);
	box-shadow: 0 3px 0 #55595d;
	
}

.darkmode .mainContent > div > input[type=checkbox]+label{
	background-color: var(--grey-color);
    color: #fff;
    border: 1px solid var(--grey-color);
     box-shadow: 0 3px 0 #55595d;
	
}

.darkmode .mainContent > div > input[type=checkbox]:checked+label {
	background-color: #fff;
	color: var(--grey-color);
	 box-shadow: 0 3px 0 #55595d;
	
}


.darkmode .title {
	border: 1px solid #fff;
	background-color: #000;
}

@media (max-width: 1000px) {
    .title {
        width: 500px;
        text-align: center;
        justify-content: center;
        margin: auto;
        border: 1px solid black;
        border-radius: 10px;  
    }

    .mainContent {
        width: 20rem;
        text-align: center;
        margin: auto;
        
    }

    .gender {
        padding: 30px 20px;
        width: 18em;
        margin: auto;
    }

    .genre {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

    .position {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

    .location {
        padding: 15px 10px;
        width: 18em;
        margin: auto;
    }

}

.gender input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.gender input[type=radio]+label:hover{background-color:#00C9C8;}
.gender input[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.gender input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.genre input[type=checkbox]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.genre input[type=checkbox]+label:hover{background-color:#00C9C8;}
.genre input[type=checkbox]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.genre input[type=checkbox]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.position input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8; -webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.position input[type=radio]+label:hover{background-color:#00C9C8;}
.position input[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.position input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8; }

.location input[type=radio]+label{background-color: #00C9C8; border-color: #00C9C8;-webkit-box-shadow: 0 3px 0 #00C9C8; box-shadow: 0 3px 0 #009292}
.location input[type=radio]+label:hover{background-color:#00C9C8;}
.locationinput[type=radio]+label:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
.location input[type=radio]:checked+label {color: #00C9C8; background-color: #fff; border-color: #00C9C8;}




/*모달*/
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.darkmode .modal-content {
	background-color:var(--grey-color);
	
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





.navUl > li > button{
    position: relative;
}

.navUl li button::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    right: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li button::before{
    content: "";
    height: 3px;
    width: 0;
    background-color: var(--accent-color);
    transition: 0.2s;
    bottom: -2.5px;
    left: 45%;
    position: absolute;
    border-radius: 10px;
}

.navUl li button:hover::after{
    width: 60%;
    background-color: var(--accent-color);
}


.navUl li button:hover::before{
    width: 60%;
    background-color: var(--accent-color);
}

