

body.darkmode .inputBox > textarea,
body.darkmode .inputBox > input{
    color: var(--text-dark-color);
}

#imageInsertPic{
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius:10px;
}

#imageInsertPic {
		width: 30%;
		height: 60%;
	}

.imgbox{
	text-align-last : center;
}

#img1{
	display: none;
}

@media (max-width:46.875rem){
	
	.regionCard{
		width: 5em;
	}
	
	#imageInsertPic {
		width: 40%;
		height: 60%;
	
	}
	
}

.allSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    margin: 15em 0;
}

.allSection > form{
    /* border: 1px solid green; */
    width: 70%;
}

.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    /* border: 1px solid black; */
    margin: auto;
    width: 20%;
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 8em;
}






/* input */

.input-box input:not(.inputBoxText) {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--label-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--label-color);
    line-height: 57px;
}

.input-box:not(.inputBoxText) {
    position: relative;
    width: 50%;
    height: 50px;
    border-bottom: 1px solid var(--stroke-color);
    margin: 50px 0;
}

body.darkmode .input-box:not(.inputBoxText){
    border-bottom: 1px solid var(--border-color);
}

body.darkmode .input-box label:not(.textLabel){
    color: var(--text-dark-color);
}

body.darkmode .input-box input{
    color: var(--text-dark-color);
}


.input-box label:not(.textLabel) {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--label-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 0.3em;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.inputBoxText textarea:focus~label,
.inputBoxText textarea:valid~label {
    top: -1px;
}

/* input */


/* textarea */

body.darkmode .inputBoxText > textarea{
    border: 1px solid var(--border-color);
    color: var(--text-dark-color);
}

body.darkmode .textLabel{
    color: var(--text-dark-color);
}


.textLabel {
    position: absolute;
    top: 60%;
    right:155px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--label-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 0.3em;
}


.inputBoxText{
    position: relative;
    margin-top: 3em;
}

.inputBoxText > textarea{
    height: 150px;
    background-color: transparent;
    border: 1px solid var(--stroke-color);
    font-size: 1.1em;
}

.inputBoxText > textarea{
    padding: 1em 1em;
    width: 50%;
    resize: none;
    border-radius: 0.5em;
    outline: none;
    min-width: 510px;
    margin-top: 4em;
}



/* textarea */




/* SUBMIT 버튼 */

.writingBtnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10em;
}

#writingBtn{
    width: 150px;
    height: 40px;
    border: 1px solid var(--label-color);
    background: transparent;
    border-radius: 0.5em;
    letter-spacing: 0.3em;
    text-align: center;
    cursor: pointer;
}

#writingBtn:hover{
    animation: in .5s ease-out;
}

@keyframes in{
    0%{
      letter-spacing: 0.3em;
    }
    50%{
      letter-spacing: 0.6em
    }
    100%{
      letter-spacing: 0.3em
    }
  }

body.darkmode #writingBtn{
    color: var(--text-dark-color);
    border: 1px solid var(--border-color);
}





.lessonCheckWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5em;
}



/* genre */

.genreWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8em;
}

.genreTable td{
    padding: 1.5em 1.5em;
}

#genreP{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
}

/* genre */


/* lessons */

.lessonWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessonTable td{
    padding: 1.5em 1.5em;
}

#lessonP{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
}

/* lessons */





 /*Checkboxes styles*/
 input[type="radio"] { display: none; }

 input[type="radio"] + label {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 20px;
   font: 14px/20px 'Open Sans', Arial, sans-serif;
   color: var(--stroke-color);
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
 }

 body.darkmode input[type="radio"] + label{
    color: var(--border-color);
 }
 
 input[type="radio"] + label:last-child { margin-bottom: 0; }
 
 input[type="radio"] + label:before {
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   border: 1px solid #ED820A;
   position: absolute;
   left: 0;
   top: 0;
   opacity: .6;
   -webkit-transition: all .12s, border-color .08s;
   transition: all .12s, border-color .08s;
 }


 
 input[type="radio"]:checked + label:before {
   width: 10px;
   top: -5px;
   left: 5px;
   border-radius: 0;
   opacity: 1;
   border-top-color: transparent;
   border-left-color: transparent;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
 }




/* media query */

@media screen and (min-width:22.5rem) and (max-width:46.875rem) {
    .input-box:not(.inputBoxText){
        width: 100%;
    }
    .inputBoxText > textarea{
        min-width: 330px;
    }

    .textLabel{
        right: 60px;
    }
}










