.firstSection{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap-reverse;
    margin-top: 10em;
}

.explainBox{
    /* border: 1px solid red; */
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3em
}


.explain > li > i{
    color: var(--text-color); 
    font-size: 1.8em;
}

.chatBox > button > i{
    color: var(--text-color); 
    font-size: 3em;
}



body.darkmode .explain > li > i,
body.darkmode .chatBox > button >i{
    color: var(--text-dark-color);
}

.explain{
    /* border: 1px solid yellowgreen; */
    width: 50%;
    padding: 1em 1em;
    list-style: none;
}

.explain > li{
    padding: 1em 1em;
}

.explain > li > i{
    padding: 0 1em;
}

#profileExpalin{
    line-height: 200%;
    white-space: pre-line;
}




.imgWrap{
    /* border: 1px solid green; */
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imgBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--stroke-color);
    width: 70%;
    height: 100%;
    border-radius: 0.5em;
}

body.darkmode .imgBox{
    border: 1px solid var(--border-color);
}



.imgFirstBox{
    width: 100%;
    overflow: hidden;
}

.imgFirstBox > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.explainBox > p{
    font-size: 1.1em;
    padding: 1em 1em;
}



.chatBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2em 1em;
}

.chatBox > button{
    padding: 1em 1em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}







/* 
    평소 displayNone인데 강사가 본인 게시글을 들어갔을 때, 혹은 관리자일때 채팅 보내기 
    아이콘 말고 delelte 버튼이 있어야함.
 */

#deleteBtn{
    border: none;
    background: transparent;
    cursor: pointer;
}

#deleteBtn > i{
    color: var(--text-color);
    font-size: 3em;
}

body.darkmode #deleteBtn > i{
    color: var(--border-color);
}










/* slider */


.secondSection img{
  width: 150px;
}

.secondSection > div:first-child > p{
    font-size: 2em;
    font-weight: 600;
}

.secondSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 17em;
  margin-bottom: 17em;
}

.recommendImgBox{
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5em;
}

.recommendImgBox div{
  height: 100%;
  overflow: hidden;
  margin: 0 2em;
  text-align: center;
}

.recommendImgBox ul{
  display: none !important;
  list-style: none;
}


.recommendImgBox > img{
  width: 80px;
  height: 80px;
}


.btn{
  display: none !important;
}


.slick-initialized .slick-slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* slider */



/* 미디어쿼리 */

@media screen and (min-width:22.5rem) and (max-width:31.3rem){
    .recommendImgBox div{
        margin: 0;
    }
}

/* 미디어쿼리 */

