.firstSec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    margin-top: 5em;
    font-size: 1.5em;
    font-family: var(--navFont-style-);
}



.titleBox{
    padding: 1em 1em;
    cursor: pointer;
    width: 43%;
}

path{
    stroke: var(--text-color);
}

#logo{
    animation: fill 1s ease-out;
}




#logo path:nth-child(1){
    stroke-dasharray: 297.216064453125;
    stroke-dashoffset: 297.216064453125;
    animation: line 1s ease-out forwards 0.7s;
}

#logo path:nth-child(2){
    stroke-dasharray: 463.9693603515625;
    stroke-dashoffset: 463.9693603515625;
    animation: line 1s ease-out forwards 0.6s;
}

#logo path:nth-child(3){
    stroke-dasharray: 493.9131774902344;
    stroke-dashoffset: 493.9131774902344;
    animation: line 1s ease-out forwards 0.3s;
}

#logo path:nth-child(4){
    stroke-dasharray: 493.912353515625;
    stroke-dashoffset: 493.912353515625;
    animation: line 1s ease-out forwards 0.2s;
}

#logo path:nth-child(5){
    stroke-dasharray: 565.9508056640625;
    stroke-dashoffset: 565.9508056640625;
    animation: line 1s ease-out forwards 0.3s;
}

#logo path:nth-child(6){
    stroke-dasharray: 604.4832763671875;
    stroke-dashoffset: 604.4832763671875;
    animation: line 1s ease-out forwards 0.1s;
}


#logo path:nth-child(7){
    animation: line2 1.3s ease-in-out forwards;
}

#logo path:nth-child(8){
    stroke-dasharray: 463.9693603515625;
    stroke-dashoffset: 463.9693603515625;
    animation: line 1s ease-out forwards 0.1s;
}

#logo path:nth-child(9){
    stroke-dasharray: 493.9131774902344;
    stroke-dashoffset: 493.9131774902344;
    animation: line 1s ease-out forwards 0.2s;
}

#logo path:nth-child(10){
    stroke-dasharray: 493.912353515625;
    stroke-dashoffset: 493.912353515625;
    animation: line 1s ease-out forwards 0.3s;
}

#logo path:nth-child(11){
    stroke-dasharray: 565.9508056640625;
    stroke-dashoffset: 565.9508056640625;
    animation: line 1s ease-out forwards 0.5s;
}

#logo path:nth-child(12){
    stroke-dasharray: 604.4832763671875;
    stroke-dashoffset: 604.4832763671875;
    animation: line 1s ease-out forwards 0.6s;
}





@keyframes line {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes line2 {
    from{
        stroke-dasharray: 260;
        stroke-dashoffset: 260;
        
    }to{
        stroke-dashoffset: 0;
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    to{
        fill:var(--text-color);
    }
}







/* 다크모드 모음 */

body.darkmode .labelLesson > span, 
body.darkmode .labelLesson >i,
body.darkmode .labelLocation > span,
body.darkmode .labelLocation > i,
body.darkmode .list{
    color: var(--text-dark-color);
}

body.darkmode .listBox{
    background-color: var(--background-dark-color);
}

body.darkmode path{
	stroke:var(--stroke-dark-color);
}

body.darkmode .filterSec > div:last-child > a,
body.darkmode .bi-pencil-square{
    color: var(--text-dark-color);
}



/* 다크모드 모음 */




/* filter */

.filterSec{
    display: flex;
    align-content: center;
    width: 100%;
    padding-left: 5.5em;
    margin-bottom: 3em;
}

hr{
    margin: auto;
    width: 87%;
    color: var(--border-color);
}

.lessonList, 
.locationListBtn{
    width: 150px;
    height: 40px;
    border: 1px solid var(--stroke-color);
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    cursor: pointer;
}

body.darkmode .lessonList, 
body.darkmode .locationListBtn{
    border: 1px solid var(--border-color);
}


.filterSec > div:nth-child(3){
    margin-left: 3em;
    font-size: 1.1em;
}


/* ====== */
.filterSec > div:last-child{
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    text-align: center;
    padding: 0.5em 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--stroke-color);
    border-radius: 0.5em;
    position: absolute;
    right: 10%;
}

body.darkmode .filterSec > div:last-child{
    border: 1px solid var(--border-color);
}

.filterSec > div:last-child > a{
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.2em;
}





.filterSec > a:first-child{
    font-size: 2em;
    display: none;
    color: var(--text-color);
    text-decoration: none;
}


/* ===== */

.lessonList > i, .locationListBtn > i{
    color: var(--text-color);
    font-size: 1em;
}

.listBox{
    display: none;
    width: 150px;
    border: 1px solid var(--stroke-color);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    margin-top: 0.3em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}


.listBoxAdd{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}


.listBox > li{
    padding: 0.5em 0.5em;
    cursor: pointer;
    list-style: none;
}

.listBox > li > button{
    background-color: transparent;
    border:none;
}

.listBox > li:hover , .locationListBox >li:hover{
    background-color: var(--accent-color);
    width: 100%;
    border-radius: 0.5em;
}

.lessonList > i, .lessonList > span , 
.locationListBtn > span, .locationListBtn > i{
    padding: 0 0.6em;
    letter-spacing: 0.1em;
}


/* location */


/* filter */



.secondSec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10em;
}

.imgCotentWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 307px;
    height: 307px;
    margin: 2em;
    border-radius: 0.5em;
    border: 1.5px solid var(--stroke-color);
    cursor: pointer;
}

body.darkmode .imgCotentWrap{
    border:1.5px solid var(--border-color);
}



.imgBox{
    width: 100%;
    height: 100%;
}

.contentBox{
    border-top: 1.5px solid var(--stroke-color);
    width: 100%;
    height: 150px;
}

.contentBox > p, .contentBox > span{
    padding: 0.5em 1em;
}



.contentBox > p:nth-child(2){
    color: #868e96; 
    /* 박스안 날짜 컬러 */
}




/* 미디어쿼리 */


@media screen and (max-width:46.875rem) {
    .imgCotentWrap{
        width: 450px;
        height: 450px;
    }

    .filterSec > div:last-child{
        display: none;
    }

    .filterSec > a:first-child{
        display: block;
        position: absolute;
        top: 56%;
        bottom: 38%;
        left: 80%;
    }
}

@media screen and (max-width:39.438rem) {
    .filterSec > a:first-child{
        display: block;
        position: absolute;
        /* top: 43%;
        bottom: 38%; */
        left: 14%;
    }
}

@media screen and (max-width:35.625rem) {
    .filterSec > a:first-child{
        display: block;
        position: absolute;
        top: 43%;
        bottom: 38%;
        left: 20%;
    }
    
}

/* 아이폰 12, se, 갤럭시 울트라 */
@media screen and (max-width:25rem) and (max-width:26rem), (max-width:26rem){

    .filterSec > a:first-child{
        display: block;
        position: absolute;
        top:36%;
        bottom: 38%;
        left:5%;
    }

    .filterSec{
        display: flex;
        align-content: center;
        width: 100%;
        padding-left: 1em;
        margin-bottom: 3em;
    }

    .filterSec > div:nth-child(3){
        margin-left: 2em;
    }
}


/* 갤럭시 8 */

@media screen and (max-width:22.500rem) {
    .filterSec > a:first-child{
        display: block;
        position: absolute;
        top: 43%;
        bottom:38%;
        left:5%;
    }
    
}

