

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

.cls-1 {
    fill: none;
}

@keyframes drawPath {

    0% {
        stroke-dashoffset: 3712.430908203125;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {

    50% {
        transform: translate3d(0, 10px, 0);
    }
}


.path1 {
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 3712.430908203125;
    animation: drawPath 1.7s linear, floating 3s linear infinite;
}