

.content{
    display: flex;
    justify-content: center;

}

.content-2{
    display: flex;
    justify-content: center;
	padding-top: 20px;
    padding-bottom: 100px;
    
}
.sign-in{
	margin-top : 60px;
}


#sign-in-area{
    width: 500px; 
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-top : 30px;
    
}

.input-text{
    border: none;
    outline: 0;
    width: 320px;
    height: 38px;
    background-color: rgb(240, 244, 240);
    border-radius: 20px;
    padding-left : 10px;
}

.sign-in-text{
    font-size: 4rem;
    margin-top: 60px;
}

.id-form{
	margin-bottom : 10px;
}

.pw-form{
	margin-bottom : 10px;
}


#id-area{

    width: 20em;
    height: 2.5em;
    border:none;
    border-radius: 10px;
    background-color:rgb(240, 244, 240);
}


#pw-area{
    width: 20em;
    height: 2.5em;
    border:none;
    border-radius: 10px;
    background-color:rgb(240, 244, 240);    
}



.signInBtn-article{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.signInBtn{
    border: 1px solid #000000; 
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    font-size: large;
    width: 18em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
}



.id-pw-found-signup{
    display: flex;
    column-gap:5px;
    text-decoration: none;  
    font-size: 0.8rem;
    color: #474554;
}

.id-found{
    text-decoration: none;  
    font-size: 0.8rem;
    color: #474554;
}

.pw-found{
    text-decoration: none;  
    font-size: 0.8rem;
    color: #474554;
}

.signup-found-1{
	text-decoration: none;
    font-size: 0.8rem;
    color: #474554;
    margin-left: 65px;
}

.signup-found-2{
	text-decoration: none;
    font-size: 0.8rem;
    color: #474554;
}






.signInBtn-kakao-article{
    padding-top: 15px;
}

/*
.signInBtn-kakao{
    background-color: yellow;
    color: black;
    width: 18em;
    height: 2.5em;
    font-size: large;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer; 
}
*/


.pw{
    position: relative;
    width: 300px;
}

#password{
    border: none;
    outline: 0;
    width: 320px;
    height: 38px;
    background-color: rgb(240, 244, 240);
    border-radius: 10px;
    padding-left : 10px;   
}

.pw > div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 30px;
    top: 3px;
    left: 260px;
    cursor: pointer;
}
   


.pw > div > i{
    color: #068488;
}
  





