

.content{

    display: flex;
    justify-content: center;

}

.content-2{
    display: flex;
    justify-content: center;
    padding-top: 1px;
    
}


#sign-in-area{
    width: 500px; 
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-top : 20px;
    
}

.input-text{
    border: none;
    outline: 0;
    width: 300px;
    height: 38px;
    background-color: rgb(240, 244, 240);
    border-radius: 20px;
}

.sign-in-text{
    font-size: 4em;
    margin-top: 40px;
}


#id-area{

    width: 20em;
    height: 2.5em;
    border:1px solid rgb(240, 244, 240);
    border-radius: 10px;
    background-color:rgb(240, 244, 240);
}


#pw-area{
    width: 20em;
    height: 2.5em;
    border:1px solid rgb(240, 244, 240);
    border-radius: 10px;
    background-color:rgb(240, 244, 240);    
}



.signInBtn-article{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}
.signInBtn{
    border: 1px solid #000000; 
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    font-size: large;
    width: 18em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
}



.id-pw-found{
    display: flex;
    justify-content: center;
    column-gap:5px;
}

.id-found{
    text-decoration: none;    
    color: black;
}




.signInBtn-kakao-article{
    padding-top: 15px;
}

/*
.signInBtn-kakao{
    background-color: yellow;
    color: black;
    width: 18em;
    height: 2.5em;
    font-size: large;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer; 
}
*/

  





