
.modal-body{
	display: flex;
	flex-direction : column;
	justify-content : space-around;
	align-items : center;
	height: 700px;
	
}

.mainProfile{
	display: flex;
	justify-content : center;
	align-items : center;
	height: 6em;
	width: 90%;
}

/* 이미지 구역 */
.mainProfile > div:nth-child(1) {
	flex-basis: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#imgProfileRoundBox{
	width: 80px;
	height: 80px;
	border-radius: 70%;
	overflow: hidden;
}

.imgProfileImage{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 닉네임과 이메일 */
.mainProfile > div:nth-child(2) {
	flex-basis: 70%;
	height: 100%;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 닉네임 구역 */
.mainProfile > div:nth-child(2) > div:nth-child(1) {
	flex-basis: 60%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

/* 이메일 구역 */
.mainProfile > div:nth-child(2) > div:nth-child(2) {
	flex-basis: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.profileIcons{
	margin-top : 20px;
	height: 12em;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}

.profileIcons > div{
	width: 43%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:  1.3em;
	border: 2px solid;
	border-radius: 10px;
	box-shadow: 2px 2px 3px var(--silver-color);
	margin: 7px;
}

.eachIconDiv{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.eachIconDiv > div:nth-child(1){
	flex-basis: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7em;
	border-bottom: 3px solid;
}
.eachIconDiv > div:nth-child(2){
	flex-basis: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7em;
	
}

.profileIcons i{
	font-size:  1em;
	margin: 10px;
}


.introMentInput{
    width: 100%;
    height: 9em;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.mentBox{
	border: 2px solid;
	display: flex;
	padding: 10px;
	width: 95%;
	height: 100%;
	border-radius: 10px;
	overflow: auto;
}



/* 폰 */
@media (max-width: 420px) {
  	.modal-content{
  		width: 300px;
  		height: 700px;
  	}
	.profileIcons > div{
		font-size: 1em;
	}
	.eachIconDiv  i{
		display: none;
	}
	
	
}
	.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
		position: fixed;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background: rgba(0,0,0,0.2); /*not in ie */
		z-index: 10;
		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
	}
    .wrap-loading div{ /*로딩 이미지*/
        position: fixed;
        top:50%;
        left:50%;
        margin-left: -21px;
        margin-top: -21px;
		z-index: 1000;
    }

    .display-none{ /*감추기*/
        display:none;
    }

	.mentBox::-webkit-scrollbar {
		width: 3px;  /* 스크롤바의 너비 */
	}
	
	.mentBox::-webkit-scrollbar-thumb {
		height: 15%; /* 스크롤바의 길이 */
		background: var(--grey-color); /* 스크롤바의 색상 */
		border-radius: 10px;
	}
	
	.mentBox::-webkit-scrollbar-track {
		background: var(--scroll-background-color);  /*스크롤바 뒷 배경 색상*/
	}
	
	
	.darkmode .mentBox::-webkit-scrollbar-track{
		background-color: transparent; /*다크모드 스크롤바 배경 투명색 == 검은색 */
	}
	
	.darkmode .mentBox::-webkit-scrollbar-thumb {
		background: var(--scroll-dark-color); /* 다크모드 스크롤바 연한 핑크 */
	}
	
	
	