


.memberListSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5em 4em;
    margin: 10em 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid var(--stroke-color);
    border-radius: 0.5em;
    width: 400px;
    height: 520px;
    transition: transform ease-out 0.25s, box-shadow 0.1s ease-in 0s;
    overflow: hidden;
}

body.darkmode .wrapper{
	border: 1.5px solid var(--border-color);
}

.wrapper:hover{
    transform: translateY(-15px);
    box-shadow:4px 4px 14px rgba(0, 0, 0, 0.15);
}



.userNameBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2em 0;
}

.userNameBox img{
    border: 1px solid var(--stroke-color);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 1em 0 0 0;
}

body.darkmode .userNameBox img{
	border: 1px solid var(--border-color);
}

.userNameBox p {
    font-size: 1.5em;
}

.userStyleBox > ul, .userChatProfieBox > ul{
    list-style: none;
    padding: 1em 1em;
    text-align: center;
}

.userStyleBox, .userChatProfieBox{
    width: 100%;
}

.userStylUl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2em 2em;
}

.userStylUl i{
    font-size: 1.6em;
}

.userStylUl p {
    margin-top: 2em;
    font-size: 1.1em;
}


.userChatProfieUl{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.userChatProfieUl i{
    font-size: 1.6em;
    cursor: pointer;
}

.userChatProfieUl p {
    margin-top: 2em;
    font-size: 1.1em;
}


.notFoundBox >p{
	font-size: 2em;
}




