.myBandWritecontainer{
	
	width: 60%;
	height: 200vh;
	margin: auto;
	margin-top: 250px;
	
	
}

.ck-editor__editable {
    height: 400px; 
}

.ck-content {
    font-size: 12px;
}
.darkmode .ck.ck-editor__editable_inline>:last-child{
    color: black;
}

#sendBtnForBandBoard{
	width: 150px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.writeMainP{
	font-size: 2em;
}

.titleAreaDivForBandBoard{
	display: flex;
	margin: 20px 0;
}

/* 제목 p 영역 */
.titleAreaDivForBandBoard > div{
	
	display: flex;
	align-items: center;
	font-size: 1.2em;
	width: 10%;
}

#titleInputForBandBoard{
	width: 90%;
	border-radius: 5px;
	margin-left: 10px;
	height: 30px;
	padding-left: 10px;
	border: 1px solid silver;
	
}

.sendBtnForBandBoardP{
	display: flex;
    justify-content: end;
}

.toggle {
    position: relative;
    display: inline-block;
    left: 120px;
    margin-top: 10px;
}
.toggle input {
    display: none;
}
.toggle label {
    display: block;
    width: 48px;
    height: 15px;
    text-indent: -250%; /* 라벨 텍스트 왼쪽으로 이동*/
    user-select: none; /* 라벨 텍스트 선택 차단 */
}
.toggle label::before,
.toggle label::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
}
.toggle label::before { /* 배경 */
    width: 100%;
    height: 100%;
    background-color: #dedede;
    border-radius: 1em;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;/* 배경색 애니메이션*/
}
.toggle label::after { /* 스위치 */
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
    -webkit-transition: left 0.25s ease;
    transition: left 0.25s ease; /* 스위치 이동 애니메이션 */
}
.toggle input:checked + label::before {
    background-color: skyblue; /* 켠 상태 배경색 */
}
.toggle input:checked + label::after { /* 켠 상태 스위치 위치 */
    left: 24px;
}