*{
	box-sizing: border-box;
}

/*
div{
	border: 1px solid;
	border-color: var(--text-color);
}


body.darkmode div{
	border-color: var(--background-color);
}
*/

body{
	margin: 0px;
}

.content{
	width: 80%;
	margin: auto;
	margin-top : 100px;
	margin-bottom : 100px;
	display: flex;
	border: 2px solid;
	border-radius: 7px;
	border-color: var(--grey-color);
}

body.darkmode > .content{
	border-color: var(--background-color);
}


.leftSide{
	flex-basis: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid;
}

/* 사진 영역 */
.leftSide > div:nth-child(1){
	flex-basis: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	
}

.leftSide > div:nth-child(2){
	flex-basis: 10%;
	padding-top: 2em;
	padding-left: 2em;
}

.leftSide > div:nth-child(3){
	flex-basis: 65%;
}

#pracImg{
	width: 90%;
	height: 90%;
}

.rightSide{
	flex-basis: 35%;
	height: 100%;
}

.titleArea > p:nth-of-type(1) {
	font-size: 3rem;
}
.titleArea > p:nth-of-type(2) {
	font-size: 2rem;
	
}


.introduction{
	display: flex;
	flex-direction: column;
}

.introduction li{
	list-style: none;
	float: left;
	width: 33.3%;
	line-height: 60px;
	text-align: center;
	font-size: 1.4em;
	
	background-color: var(--grr-color);
}

body.darkmode li{
	background-color: var(--text-color);
	
}

body.darkmode a{
	color: var(--background-color);
}

.introduction a {
	color: var(--text-color);
	text-decoration: none;
}

.introduction > div:nth-child(1) {
	height: 60px;
	
}

.introduction > div:nth-child(2) {
	flex-basis: 93%;
	
}

.introContent{
	display: flex;
	flex-direction: column;
}

.introContent > div:nth-child(1) {
	flex-basis: 33.3%;
}

.introContent  h1{
	margin: 0.4em;
}

.introContent > div:nth-child(2) {
	flex-basis: 33.3%;
}

.introContent > div:nth-child(3) {
	flex-basis: 33.3%;
}


.introContent p{
	margin : 20px;
	
}

.fc-day-past {
    background-color: var(--grr-color);
}

body.darkmode .fc-day-past{
	background-color: var(--grey-color);
}

.fc-bg-event{
	cursor: pointer;
}

.calDiv{
	margin: auto;
	margin-top : 10px;
	margin-bottom : 10px;
	width: 90%;
}


.fc .fc-button-primary:disabled{
	background-color: var(--grr-color);
}

.fc .fc-button-primary{
	border:none;
	background-color: var(--stroke-color);
}

.calDiv p{
	font-size : 2rem;
	margin-bottom : 20px;
	border-bottom : 2px solid;
	border-color : var(--grey-color);
	text-align: center;
}

.days{
	display : flex;
	justify-content: center;
	flex-direction : column;
	align-items : center;
	font-size: 2rem;
	margin : auto;
}

.timeline {
	
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.timeline > button{
	cursor : pointer;
	border: none;
	background-color: var(--grr-color);
	width: 4rem;
	height: 2rem;
	border-radius: 5px;
	margin: 10px;
	margin-top: 5px;
}

.times.onTime{
	background-color: var(--accent-color);
}

.submitDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.submitDiv > button{
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	background-color: var(--grr-color);
}

@media (max-width:700px){
	
	.content{
		width: 600px;
		flex-direction: column;
	}

	.leftSide > div:nth-child(1){
		margin-top: 20px;
	}
	
	
	
	
}