*{
	box-sizing: border-box;
}

/*
div{
	border: 1px solid;
	border-color: var(--text-color);
}

body.darkmode div{
	border-color: var(--background-color);
}
*/

body{
	margin: 0px;
}

.content{
	width: 1200px;
	margin: auto;
	margin-top : 200px;
	
}

/* 분류창 */
.sorting-bar{
	width : 90%;
	height : 200px;
	border-bottom: 1px solid;
	border-bottom-color : var(--silver-color);
	display: flex;
	margin: auto;
}


/* 분류 메뉴 */
.sorting-bar > div:first-child{
	flex-basis: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sorting-bar > div:last-child {
	flex-basis: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
  	position: relative;
}

select{
	width: 200px; 
	padding: .8em .5em; 
	border: 1px solid #999;
	font-family: inherit;    
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	border-radius: 10px;
}

select::-ms-expand {
    display: none;
}

#room-search{
	width: 70%; 
	padding: .8em .5em; 
	border: 1px solid #999;
	border-radius: 10px;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
}

/* 검색 버튼 */
#s-btn{
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 9em;
	
}

/* 연습실 목록 뷰 */
.main-card-sec{
	display: flex;
	justify-content : space-around;
	flex-wrap: wrap;
	
}

/* 각각의 연습실*/
.box-card{
	width: 300px;
	height: 300px;
	margin: 2em;
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	
}

body.darkmode .box-card{
	border: 1px solid;
	border-color: var(--background-color);
}

.box-card > div:nth-child(1) {
	flex-basis: 50%;
}
/* 제목 글씨 */
.box-card > div:nth-child(2) {
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.box-card > div:nth-child(3) {
	flex-basis: 40%;
}

/* 상세 설명 영역 */
#detail-part{
	display: flex;
}

#detail-part > div:nth-child(1) {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
}

#detail-part > div:nth-child(1) > div:first-child{
	flex-basis: 50%;
}


#detail-part > div:nth-child(2) {
	flex-basis: 50%;
}




@media (max-width:700px){
	
	.content{
	width: 500px;
	margin: auto;
	
	}
	select {
	
		width: 100px;
	}
	
	#s-btn{
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 6em;
	
	}
}