*{
	box-sizing: border-box;
}
body{
    margin: 0px;
}




.main{
	width: 80%;
    margin: auto;
    /* margin-top: 400px; */
    margin-bottom: 400px;
	

}


.usedSvgBox{
	margin: auto;
    margin-top: auto;
}

.usedPath{
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
    stroke-dasharray: 4638.24365234375;
    animation: drawPath 2s linear, floating 3s linear infinite;
}

.usedPicture{

    width: 100%;
    border-radius: 10px 10px 0 0;
}

@keyframes drawPath {

    0% {
        stroke-dashoffset: 4638.24365234375;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

/* 크롬의 경우 input search기본 x 없애기 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

#searchboxInput{
	width : 90%;

    border-radius: 19px;
    border: solid 1px var( --grey-color);
    box-sizing: border-box;
    padding:15px;
    display: flex;
	margin: auto;
}

.searchInputButton{
    justify-content: center;
    position: absolute;
	border: none;
    float: right;
	margin-top: 15px;
    margin-left: 200px;
    background: transparent;
}


body.darkmode .fa-magnifying-glass{
	color:var(--background-dark-color);
}
.fa-solid fa-magnifying-glass{
	position: absolute;
 	margin-right: 30px;
  	border: solid 1px var( --grey-color);
  	
}

 .jb-division-line {
    border-top: 1px solid var(--grey-color);
    margin: 15px 0px;
  }

  .thingTotalBox{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
  }


.topbox{
	
    display: flex;
    justify-content: space-between;
    
}

.mainTitle{
	
	font-weight: bold;
	padding-left: 50px;
    display: flex;
    justify-content: center;
    float: right;
    
}

/* 분류창 */
.sorting-bar{
	width : 90%;
	height : 100px;
	display: flex;
	margin: auto;
}


/* 분류 메뉴 */
.sorting-bar > div:first-of-type{
	flex-basis: 30%;
	display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sorting-bar > div:last-of-type {
	width : 65%;
	display: flex;
	justify-content: center;
	align-items: center;
  	position: relative;
}

.regionBtn{
	width: 150px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regionBtn > span{
	font-size: 1.2em;
	margin-right: 10px;
}

.regionListUl{
    width: 150px;
    border: 1px solid var(--stroke-color);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    margin-top: 0.3em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color);
    z-index: 10;
    position: absolute;
    top: 8em;
}

.disappearList{
	display: none;
}

.regionListUl li{
	padding: 0.5em 0.5em;
    cursor: pointer;
    list-style: none;
}

.darkmode .regionListUl li{
	
	color: var(--text-color);
}

#room-search{
	width: 100%; 
	padding: .8em 1.5em; 
	height : 40px;
	border: 1px solid #999;
	border-radius: 10px;
	-webkit-appearance: none; 
	-moz-appearance: none;
	appearance: none;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}


.regionListUl li:hover{
	background-color: var(--accent-color);
	border-radius: 10px;
}

.darkmode .regionBtn{
	background-color: var(--background-nav-color);
}


/* 검색 버튼 */
#s-btn{
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 5%;
	
}



.thingBoxWrap{
	width : 100%;
	height : 100%;
	display : flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.darkmode .usedPath{
	stroke: var(--stroke-dark-color);
}

.searchbox{
	
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    
}

.thingBox{	
    width: 300px;
    height: 300px;
    margin: 2em;
    border-radius: 10px;
    border: 2px solid var(--silver-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform ease-out 0.25s, box-shadow 0.1s ease-in 0s;

}

.thingBox:hover{

    transform: translateY(-15px);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
}


.thingPicture {
	
    background-color:var(#868E96);
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	display: flex;
    justify-content: center;
	   
}

body.swal2-shown{
	padding-right : 0 !important;
	overflow: revert !important;
}



.thingsecondbox{

	width: 100%;
	height: 100px;
	box-sizing: border-box;
    padding: 10px;

}

.thingssecondTop{
    
    display: flex;
	padding-left: 5px;	
    
}
.SaleOrSoldout{
	
    color: var( --accent-color);
    padding-left: 5px;
    padding-right: 16px;
    font-weight: bold;
    padding : 3px;
    width: 80px;
    font-size: 0.9em;
    
}

.thingTitle{
    padding : 10px;
    padding : 3px;

}

.thingsecondBottomBox{
    justify-content: space-around;
	padding-top: 5px;  
}
.thingsecondBottom{
    padding-left: 5px;
    float: left;
    display: flex;
}

.sellerName{
    font-size: 0.7em;
    font-weight: bold;
}
.dot{
    color: var(#474554);
    font-weight: bold;
    padding-right: 7px;
    padding-left: 7px;
    padding : 3px;
}
.sellerRegion{
    color: var(#474554);
    font-weight: bold;
    padding : 3px;
}


.price {
    float: right;
    font-weight: bold;
}

#usedWriteBtn{
    width: 100px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    display: none;
    background : white;
    
}


.writeBtnDiv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}


@media (max-width:700px){
	
.main{
	
	width: 500px;
	margin: auto;
	
}
	
.mainTitle{
	
	font-weight: bold;
 	display: flex;
    justify-content: center;
    float: right;
}
.searchbox{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}
	
}



/*아이폰 SE*/


@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {


.thingTotalBox {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;/**/

}
.main{
	

     width: 80%;
    margin: auto;
    margin-bottom: 300px;
	
}
.topbox{
	display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;/**/
	width: 80%; /**/
}
#searchboxInput{
	width: 120px; /**/
	height: 0px;
    border-radius: 19px;
    border: solid 1px var(--grey-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    margin: auto;
 	background: transparent;
}
.searchInputButton {
	position: absolute;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 120px; /**/
    background: transparent;/**/
}
.mainTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    float: right;
    padding-left: 2px;
}



}


/*아이폰 12 pro*/
@media only screen and (min-device-width : 376px) and (max-device-width : 390px) {
    
    
.thingTotalBox {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;/**/

}
.main{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
}
.topbox{
	display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;/**/
	width: 80%; /**/
}
#searchboxInput{
	width: 120px; /**/
	height: 0px;
    border-radius: 19px;
    border: solid 1px var(--grey-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    margin: auto;
 	background: transparent;
}
.searchInputButton {
	position: absolute;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 120px; /**/
    background: transparent;/**/
}
.mainTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    float: right;
    padding-left: 2px;
}    
    
    
    
    
}
/*아이폰 xr*/

@media only screen and (min-device-width : 391px) and (max-device-width : 414px) {    
    
.thingTotalBox {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;/**/

}
.main{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
	
}
.topbox{
	display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;/**/
	width: 80%; /**/
}
#searchboxInput{
	width: 120px; /**/
	height: 0px;
    border-radius: 19px;
    border: solid 1px var(--grey-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    margin: auto;
 	background: transparent;
}
.searchInputButton {
	position: absolute;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 120px; /**/
    background: transparent;/**/
}
.mainTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    float: right;
    padding-left: 2px;
}    
    
    
    
    
}
@media only screen and (min-device-width: 769px) and (max-device-width: 820px) {
      
.thingTotalBox {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;/**/

}
.main{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
	
}
.topbox{
	display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;/**/
	width: 80%; /**/
}
#searchboxInput{
	width: 120px; /**/
	height: 0px;
    border-radius: 19px;
    border: solid 1px var(--grey-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    margin: auto;
 	background: transparent;
}
.searchInputButton {
	position: absolute;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 120px; /**/
    background: transparent;/**/
}
.mainTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    float: right;
    padding-left: 2px;
}    
    
  


}


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  /* CSS Styles */

.thingTotalBox {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;/**/

}
.main{
    width: 80%;
    margin: auto;
    margin-bottom: 300px;
	
}
.topbox{
	display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: auto;/**/
	width: 80%; /**/
}
#searchboxInput{
	width: 120px; /**/
	height: 0px;
    border-radius: 19px;
    border: solid 1px var(--grey-color);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    margin: auto;
 	background: transparent;
}
.searchInputButton {
	position: absolute;
    border: none;
    float: right;
    margin-top: 10px;
    margin-right: 120px; /**/
    background: transparent;/**/
}
.mainTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    float: right;
    padding-left: 2px;
}    
    

}
