.usedContent{
	width: 65%;
	height: 200vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 10em;
	margin-bottom: 10em;
	flex-direction: column;
	
}

.usedContent >div{
	width: 100%;
}


/* 기본 정보 */
.usedContent > div:nth-of-type(1) {
	flex-basis: 5%;
	display: flex;
	justify-content: flex-start;
	align-items : flex-end;
	border-bottom: 2px solid var(--grey-color);
	padding: 1em;
	
}

.usedContent > div:nth-of-type(1) > p:nth-child(1){
	font-size: 1.8em;
	margin-right: 10px;
}

.usedContent > div:nth-of-type(1) > p:nth-child(2){
	color: var(--red-color);
}
/* 상품 이미지 */
.usedContent > div:nth-of-type(2) {
	flex-basis: 20%;
	display: flex;
	border-bottom: 2px solid var(--grey-color);
	padding: 1em;
}
.usedContent > div:nth-of-type(2) > div:nth-of-type(1){
	font-size: 1.2em;
	flex-basis: 20%;
}
/* 사진 칸 */
.usedContent > div:nth-of-type(2) > div:nth-of-type(2){
	width: 260px;
	height: 200px;
	cursor: pointer;

}

body.swal2-shown{
	padding-right : 0 !important;
	overflow: revert !important;
}

#imageInsertPic{
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius:10px;
}

#img1{
	display: none;
}
/* 제목 */
.usedContent > div:nth-of-type(3) {
	flex-basis: 5%;
	display: flex;
	border-bottom: 2px solid var(--grey-color);
	padding: 1em;
}

.usedTitleInputTextLength{
	align-self: flex-end;
}

.usedContent > div:nth-of-type(3) > div:nth-child(1){
	font-size: 1.2em;
	flex-basis: 20%;
}

.usedTitleDiv{
	display: flex;
	width: 90%;
	
}

.usedTitleDiv > input{
	padding : 10px;
	width: 70%;
	margin-right: 10px;
	height: 3em;
	border : 1px solid;
	border-color: var(--grey-color);
	border-radius: 10px;
}

/* 상품명 */
.usedContent > div:nth-of-type(4){
	flex-basis: 5%;
	display: flex;
	border-bottom: 2px solid var(--grey-color);
	padding: 1em;

}

.usedContent > div:nth-of-type(4) > div:nth-child(1) {
    font-size: 1.2em;
    flex-basis: 20%;
}
.usedProductNameDiv {
	width: 90%;
}

.usedProductNameDiv > input {
	padding: 10px;
    width: 70%;
    margin-right: 10px;
    height: 3em;
    border: 1px solid;
    border-color: var(--grey-color);
    border-radius: 10px;
}

/* 거래 지역 */
.usedContent > div:nth-of-type(5) {
	flex-basis: 20%;
	display: flex;
	padding: 1em;
	border-bottom: 2px solid var(--grey-color);
	
}

.usedContent > div:nth-of-type(5) > div:nth-child(1){
	font-size: 1.2em;
	flex-basis: 17%;
}

.regionCardBox{
	width: 60%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.regionCard{
	width: 7em;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	margin-top: 0;
	cursor: pointer;
	border-radius: 10px;
}

.regionCard > label{
	width: 100%;
	height : 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--grey-color);
	border-radius: 10px;
}

.regionBtn{
	display: none;
}

.regionBtn:checked + label{
	background-color: var(--accent-color);
}




/* 상태 */
.usedContent > div:nth-of-type(6) {
	flex-basis: 5%;
	display: flex;
	padding: 1em;
	border-bottom: 2px solid var(--grey-color);
	
}

.usedContent > div:nth-of-type(6) label{
	margin-right: 10px;
}

.usedContent > div:nth-of-type(6) > div:nth-child(1){
	font-size: 1.2em;
	flex-basis: 20%;
}


/* 가격 */
.usedContent > div:nth-of-type(7) {
	flex-basis: 10%;
	display: flex;
	border-bottom: 2px solid var(--grey-color);
	padding: 1em;
}

.usedContent > div:nth-of-type(7) > div:first-child{
	font-size: 1.2em;
	flex-basis: 20%;
}

.usedContent > div:nth-of-type(7) > div:last-child{
	flex-basis: 88%;
}

#priceInput{
	height: 3em;
	width: 50%;
	padding: 1em;
	border : 1px solid;
	border-color: var(--grey-color);
	border-radius: 10px;
}

.usedPriceDiv > div{
	margin-bottom: 1em;
}
/* 설명 */
.usedContent > div:nth-of-type(8) {
	flex-basis: 30%;
	display: flex;
	padding: 1em;
	margin-bottom: 10px;
}

.usedContent > div:nth-of-type(8) > div:first-child{
	font-size: 1.2em;
	flex-basis: 20%;
}

.usedContent > div:nth-of-type(8) > div:last-child{
	flex-basis: 88%;
}

#usedDetailExplain{
	resize: none;
	width: 90%;
	height: 90%;
	padding: 1em;
	border-color: var(--grey-color);
	font-size: 1.4em;
	border-radius: 10px;
}

#detailExplainTextAmount{
	width: 90%;
	text-align: end;
}
/* 버튼 */
.usedContent > div:nth-of-type(9) {
	flex-basis: 5%;
	display: flex;
	width: 80%;
	justify-content: flex-end;
}

#usedBoardInsertBtn{
	font-size: 1em;
	width: 6em;
	height: 3em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--grr-color);
}

@media (max-width:46.875rem){
	
	.regionCard{
		width: 5em;
	}
	
	#imageInsertPic {
		width: 80%;
		height: 80%;
	
	}
	
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:415px) {
	
	.usedContent > div:nth-of-type(1) {
		align-items: flex-start;
		flex-direction: row;
	}
	
	.usedContent > div {
		flex-direction: column;
	}
	
	.usedTitleDiv {
		flex-direction: column;
		
	}
	.usedContent > div:nth-of-type(3) >div{
		margin: 7px;
	}
	
	#usedTitleInputTextLength {
		text-align: end;
	}
	.usedTitleDiv > input {
		width: 100%;
		padding: 5px;
	}
	
	
	#imageInsertPic {
		width: 80%;
		height: 80%;
	
	}
	
	.regionCardBox {
		width: 100%;
	}
	
	.usedContent > div:nth-of-type(4) > div:nth-child(1) {
		margin-bottom: 10px;
	}
	
	.regionCard{
		font-size: 1.2em;
	}
	
	.usedContent > div:nth-of-type(5) > div:nth-child(1) {
		margin-bottom: 10px;
	}
	
	.usedContent > div:nth-of-type(6) > div:first-child {
		margin-bottom: 10px;
	}
	
	#priceInput {
		width: 80%;
	}
	
	#usedDetailExplain {
		width: 100%;
		height: 70%;
	}
	
	.usedContent > div:nth-of-type(7) > div:first-child {
		flex-basis: 10%;
	}
	
	.usedContent > div:nth-of-type(8) {
		align-items: center;
		justify-content: flex-start;
	}
	
}

@media all and (max-width:400px) {
	
	.regionCard {
    	font-size: 0.8em;
	}
	
}
