*{
	box-sizing: border-box;
}
body{
    margin: 0px;
}
.main{
    width: 80%;
    margin: auto;
    padding-bottom: 400px;
    padding-top: 400px;
	

}
.topBox{
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
.pictureBox{
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  
}
.picture{
  width: 100%;
  height: 100%;
  position: relative;
	 
}
.guitarImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftButton{
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
	 
}
.fa-sharp fa-solid fa-chevron-left{
	 width: 100px;
     height: 100px;
}


.right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightButton{
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  color: #474554;
}
.nickName{
	
	margin-top:50px;
	
}

.fa-sharp fa-solid fa-chevron-right{
	 width: 100px;
     height: 100px;
}
.dealTitileBox{
	display: flex;
	margin-top: 10px;
}
.SaleOrSoldout{
	color: var( --accent-color);
    font-size : 20px;
    font-weight: bold;
    
}
.thingTitle{
	    margin-left: 10px;
	    font-size : 20px;
}

.price{
	
	font-weight: bold;
	margin-top: 10px;
    font-size: 25px;
}
.productDetailBox{
	display: flex;
	flex-direction: column
}
.productConditionDetailBox{
	display: flex;
}
.productCondition{
	margin-top: 10px;
	color: var(  --grey-color);
	
}
.ConditionResult{
	margin-top: 10px;
	margin-left: 10px;
}

.deliveryPriceDetailBox{
	
	display: flex;
}

.deliveryPrice{
	margin-top: 10px;
	color: var(  --grey-color);
	
}
.PriceResult{
  margin-top: 10px;
  margin-left: 10px;
}
.tradingAreaDetailBox{
  display: flex;
}
.tradingArea{
  margin-top: 10px;
  color: var(  --grey-color);
	
}
.AreaResult{
  margin-top: 10px;
  margin-left: 10px;
}
.productInformationTitle{
  margin-top: 20px;

}
.productInformationAnswer{
  margin-top: 20px;
}
.bottomBox{
  margin-left: 200px;
}
.QuestionChat{
  display: flex;
  justify-content: center;
  align-items: center;
}
.QuestionChatButton{
	width: 150px;
    height: 50px; 
    background-color: #ccc; 
	border-radius:10px;
    text-align: center;
    border:none;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 200px;
}



.rightButton i, .leftButton i{
	color:;
}
body.darkmode .rightButton i, .leftButton i{
	color:var(--text-dark-color);
}

body.darkmode .leftButton i{
	color:var(--text-dark-color);
}


/*아이폰 SE*/


@media only screen and (min-device-width : 320px) and (max-device-width : 375px) {
  .pictureBox {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .guitarImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }





	
}


/*아이폰 12 pro*/
@media only screen and (min-device-width : 376px) and (max-device-width : 390px) {
    
.bottomBox {
	margin-left: 10px;
 	width: 80%;
}
.QuestionChatButton{
	width: 150px;
    height: 50px;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
    border: none;
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 200px;
    margin-right: 7px;
}
    
    
}
/*아이폰 xr*/

@media only screen and (min-device-width : 391px) and (max-device-width : 414px) {    
    
    
}


/*아이패드 에어 */
@media only screen (min-device-width : 769px)  and (max-device-width : 820px){ 
	
}
