<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fin/src/main/webapp/resources/css/transaction/transaction.css"></script>
    <title>중고거래페이지</title>
</head>
<body>
    
    <div class="topbox">
        <div>중고거래 게시판</div>
        <div class="searchbox" >
            <input type="text" id="searchboxInput">
        </div>
    </div>
    <div class="totalbox">
        <div></div>
    </div>

</body>
</html>