<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat-mapper">
	<resultMap type="tempUser" id="tempUser_rm">
		<id property="userNo" column="USER_NO" />
		<result property="userEmail" column="USER_EMAIL" />
		<result property="userPwd" column="USER_PWD" />
		<result property="userDate" column="JOIN_DATE" />
		<result property="secessionFl" column="SECESSION_FL" />
		<result property="userName" column="USER_NICK" />
		<result property="matchingFl" column="MATCHING_FL" />
		<result property="userType" column="USER_TYPE" />
		<result property="introMent" column="INTRO_MENT" />
		<result property="bannedFl" column="BANNED_FL" />
	</resultMap>
	<resultMap type="chat" id="chat_rm">
		<id property="chatRoomNo" column="CHAT_ROOM_NO"/>
		<result property="chatTitle" column="TITLE"/>
		<result property="chatMasterNo" column="USER_NO"/>
		<result property="chatGuestNo" column="GUEST_NO"/>
	</resultMap>
	
	<select id="tempUser" resultMap="tempUser_rm" parameterType="_int">
		SELECT * FROM "USER" WHERE USER_NO = ${nowUser}
	</select>
	<select id="roomList" resultMap="chat_rm" parameterType="_int">
		SELECT CHAT_ROOM_NO, GUEST_NO, USER_NO, TITLE  
		FROM CHAT_ROOM 
		WHERE USER_NO = #{nowUser} OR GUEST_NO = #{nowUser}
	</select>
	
	<insert id="saveMsg" parameterType="map">
		INSERT INTO CHAT_MESSAGE 
		VALUES(CHAT_MSG_NO_SEQ.NEXTVAL, #{chatRoomNo}, #{msg}, SYSDATE, ${sessionUserNo})
	</insert>
	
</mapper>
