<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lessonMapper">

	<!-- 메인글  게시글 가져오기-->
	<resultMap type="lesson" id="lesson_rm">
  	
  	<id property="lessonNo" column="lesson_NO"/>
  	
  	<result property="lessonNick" 		column="USER_NICK"/>
  	<result property="intro" 		column="INTRO_MENT"/>
	<result property="joinDate" 		column="JOIN_DATE"/>
	<result property="profileImage" column="PROFILE_IMG" />	
	
	<collection property="imageList" column="lesson_NO"
			javaType="java.util.ArrayList" ofType="boardImage" select="selectImageList" />
  </resultMap>



	<select id="selectlesson" resultMap="lesson_rm">
		SELECT USER_NICK, li.INTRO_MENT, li.JOIN_DATE , LESSON_IMG FROM LESSON_INFO li JOIN "USER" u USING(USER_NO);
	</select>
</mapper>