<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lessonMapper">

	<!-- 메인글  게시글 가져오기-->
	<resultMap type="lesson" id="lesson_rm">
  	
  	<id property="lessonNo" column="LESSON_NO"/>
  	
  	<result property="userNo" column="USER_NO"/>
  	<result property="lessonNick" 	column="USER_NICK"/>
  	<result property="introment" 	column="INTRO_MENT"/>
	<result property="joinDate" 	column="JOIN_DATE"/>	
	<result property="lessonImg" column="LESSON_IMG" />
	<result property="genre" column="GENRE" />
	<result property="ints" column="INTS" />
	<result property="region" column="REGION" />
	<result property="detailment" column="DETAIL_MENT" />
	<result property="socialSite" column="SOCIAL_SITE" />					
  </resultMap>
  




	<select id="lessonList" resultMap="lesson_rm">
	SELECT USER_NICK, li.INTRO_MENT, li.REGION, TO_CHAR(li.JOIN_DATE, 'YY"년"MM"월"DD"일"')AS JOIN_DATE  , li.LESSON_IMG
	FROM LESSON_INFO li
	JOIN "USER" u USING(USER_NO)
	</select>
	
	<insert id="writeLessonForm" parameterType="lesson">
	INSERT INTO LESSON_INFO VALUES(
	LESSON_NO_SEQ.NEXTVAL,
	  ${lessonNameInput},
	  #{lessonMottoInput},
	  SYSDATE,
	  NULL,
	  #{genre}, 
	  #{lesson},
	  #{lessonLocationInput},
	  #{lessonDetailInput},
	  #{lessonSocialInput}
	  )
	</insert>
	
	
	
	

</mapper>