<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="loginMapper">
  
  <resultMap type="user" id="user_rm">
  	
  	<id property="userNo" column="USER_NO"/>
  	
  	<result property="userEmail" 		column="USER_EMAIL"/>
	<result property="userPw" 		column="USER_PWD"/>
	<result property="userNick" 	column="USER_NICK"/>
	<result property="joinDate" 		column="JOIN_DATE"/>
	<result property="secessionFl" 		column="SECESSION_FL"/>
	<result property="matchFl" 		column="MATCHING_FL"/>
	<result property="userType" 		column="USER_TYPE"/>
	<result property="intro" 		column="INTRO_MENT"/>
	<result property="banFl" 		column="BANNED_FL"/>
	<result property="profileImg" 		column="IMAGE"/>
  </resultMap>
  
  
  
  <!-- 로그인 -->
  <select id="login" parameterType="user" resultMap="user_rm">
  		SELECT USER_NO, USER_EMAIL, USER_PWD, USER_NICK ,USER_TYPE, 
		MATCHING_FL, INTRO_MENT, TO_CHAR( JOIN_DATE , 'YYYY-MM-DD HH24:MI:SS') AS JOIN_DATE 
		FROM "USER"
		WHERE USER_EMAIL = #{userEmail}
		AND SECESSION_FL = 'N'
  </select>
  
  
  
  
  
  <!-- 이메일 중복 검사 -->
  <select id="emailDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM "USER"
  		WHERE USER_EMAIL = #{userEmail}
  		AND SECESSION_FL = 'N'
  </select>
  
  <!-- 닉네임 중복 검사 -->
  <select id="nicknameDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM "USER"
  		WHERE USER_NICK = #{userNick}
  		AND SECESSION_FL = 'N'
  </select>
  
 
  	<!-- 회원 가입 -->
  	<insert id="signUp" parameterType="user">
  		INSERT INTO "USER" VALUES(	
  			USER_NO_SEQ.NEXTVAL,
  			#{userEmail},
  			#{userPw},
  			SYSDATE,
  			DEFAULT,
  			#{userNick},
  			DEFAULT,
  			DEFAULT,
  			NULL,
  			DEFAULT,
  			NULL
  		)
  	</insert>
  	
  	
  	<select id="selectEncPw" resultType="string">
		SELECT USER_PWD FROM "USER"
		WHERE USER_NO = ${userNo}
	</select>
  
</mapper>
