<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="msgBoxMapper">
	

	<resultMap type="msgBox" id="msgBox_rm">
		<id property="msgNo" column="MSG_NO"/>
		<result property="sendUserNickName" column="SEND_USER_NICK" />
		<result property="receiverNickName" column="RECEIVER_NICK" />
		<result property="msgContent" column="MSG_CONTENT" />
		<result property="openDate" column="OPEN_DATE" />
		<result property="sendDate" column="SEND_DATE" />
	</resultMap>
	
	
	<select id="msgBoxList" resultMap="msgBox_rm">
		SELECT SEND_USER_NICK, RECEIVER_NICK, MSG_CONTENT
		FROM MESSAGE_BOX
		WHERE RECEIVER_NICK = #{receiverNickName}
	</select>
	
	
	<insert id="sendMsg" parameterType="msgBox">
		INSERT INTO MESSAGE_BOX(MSG_NO, SEND_USER_NICK, RECEIVER_NICK, MSG_CONTENT, OPEN_DATE, SEND_DATE)
		VALUES(1, #{sendUserNickName}, #{receiverNickName} #{msgContent}, NULL, DEFAULT)
	</insert>




</mapper>