<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="msgBoxMapper">
	

	<resultMap type="msgBox" id="msgBox_select_list">
		<id property="msgNo" column="MSG_NO"/>
		<result property="sendUserNo" column="SEND_USER_NO" />
		<result property="receiverUserNo" column="RECEIVER_USER_NO" />
		<result property="sendUserNick" column="SEND_USER_NICKNAME" />
		<result property="sendDate" column="SEND_DATE" />
		<result property="msgContent" column="MSG_CONTENT" />
	</resultMap>
	
	
	<select id="msgBoxList" resultMap="msgBox_select_list">
		SELECT MSG_NO, u1.USER_NICK AS SEND_USER_NICKNAME, m.SEND_USER_NO, m.MSG_CONTENT, TO_CHAR(SEND_DATE,'YY"년"MM"월"DD"일"') AS SEND_DATE
		FROM
		MESSAGE_BOX m
		JOIN "USER" u1 ON m.SEND_USER_NO = u1.USER_NO
		WHERE m.RECEIVER_USER_NO = #{receiverUserNo}
		ORDER BY MSG_NO
	</select>
	
	
	<insert id="sendMsg" parameterType="msgBox">
		INSERT INTO MESSAGE_BOX (MSG_NO, SEND_USER_NO, RECEIVER_USER_NO, MSG_CONTENT, OPEN_DATE, SEND_DATE)
		VALUES (5, #{sendUserNo}, #{receiverUserNo}, #{msgContent}, NULL, DEFAULT)
	</insert>
	
	<delete id="deleteMsg" parameterType="_int">
		DELETE MESSAGE_BOX WHERE MSG_NO = #{msgNo}
	</delete>




</mapper>