<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<resultMap type="user" id="user_rm">
  	
  		<id property="userNo" column="USER_NO"/>
  	
  		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userPw" 		column="USER_PWD"/>
		<result property="userNick" 	column="USER_NICK"/>
		<result property="joinDate" 		column="JOIN_DATE"/>
		<result property="secessionFl" 		column="SECESSION_FL"/>
		<result property="matchFl" 		column="MATCHING_FL"/>
		<result property="userType" 		column="USER_TYPE"/>
		<result property="intro" 		column="INTRO_MENT"/>
		<result property="banFl" 		column="BANNED_FL"/>
		<result property="profileImg" 	column="IMAGE"/>

  </resultMap>
  
  <resultMap type="searching" id="searching_rm">
		<id property="matchingNo" column="MATCHING_NO"/>
		<result property="userNo" column="USER_NO" />
		<result property="career" column="YEARS_OF_EXP" />
		<result property="inst" column="INST" />
		<result property="genre" column="GENRE" />
		<result property="gender" column="GENDER" />
		<result property="region" column="REGION" />
		<result property="userName" column="USER_NICK" />
	</resultMap>
	
	<resultMap type="banList" id="banList_rm">
		<id property="bannedNo" column="BANNED_NO"/>
		<result property="userNo" column="USER_NO" />
		<result property="bannedUserNo" column="BANNED_USER_NO" />
		<result property="bannedUserNick" column="BANNED_USER_NICK" />
	</resultMap>

	<update id="updateInfo">
		UPDATE "USER" SET
		USER_NICK = #{newNick}
		WHERE USER_NO = ${userNo}
	</update>
	
	<select id="selectEncPw" resultType="string">
		SELECT USER_PWD FROM "USER"
		WHERE USER_NO = ${userNo}
	</select>
	
	<update id="changePw">
		UPDATE "USER" SET
		USER_PWD = #{newPw}
		WHERE USER_NO = ${userNo}
	</update>
	
	<update id="updateImg">
		UPDATE "USER" SET
		IMAGE = #{profileImg}
		WHERE USER_NO = ${userNo}
	</update>
	
	<update id="updatePosition">
		UPDATE MATCHING_INFO SET
		INST = #{inst},
		REGION = #{region},
		GENRE = #{genre}
		WHERE USER_NO = ${userNo}
	</update>
	
	<insert id="insertPosition" parameterType="searching">
		INSERT INTO MATCHING_INFO VALUES(
  			MATCHING_SEQ.NEXTVAL,
  			${userNo},
  			#{inst},
  			#{genre},
  			#{region},
  			#{gender},
  			NULL
  	)
	</insert>
	
	<update id="secession">
		UPDATE "USER" SET
		SECESSION_FL = 'Y'
		WHERE USER_NO = ${userNo}
	</update>
	
	<select id="chBanList" resultMap="banList_rm">
		SELECT BANNED_NO, USER_NO, BANNED_USER_NO, BANNED_USER_NICK 
		FROM BOARD_BANNED 
		WHERE USER_NO = ${userNo}
	</select>
	


</mapper>
