<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/global.css">
	 <link rel="stylesheet" href="/src/main/webapp/resources/css/boardDetail.css">
 
    <script src="https://kit.fontawesome.com/555e979a9d.js" crossorigin="anonymous"></script>   
    <title>중고거래상세페이지</title>
</head>
<body>
    <div class="main" >
        <div class="mainTitle">글쓰기</div>
       <div class="tagTitleBox">
        <div class="tagTitle">글머리</div>
        <div class="tags">
            <button class="notice">공지사항</button>
            <button class="basicBoard">일반게시판</button>
            <button class="hotBoard">인기게시판</button>
            
        </div>
        </div>
        <div class="postTitleBox">
            <div class="PostTitle">제목</div>
            <div class="PostTitlDetail">
                <input class="titlDetail" type="text">
            </div>
            <div class="contentTitleBox">
                <div class="contentTitle">내용</div>
                <div class="contentTitleDetail">
                    <input class="contentDetail" type="text">
                </div>
            </div>

        </div> 
        <div class="writeButtonBox">
           <button class="writeButton">작성</button>
        </div>
        </div>
        </div>
</body>
</html>